<!-- ======= About Me ======= -->
<div class="about-me container">
    <%- include('./about/me') %>
</div><!-- End About Me -->

<!-- ======= Counts ======= -->
<div class="counts container">
    <%- include('./about/count') %>
</div><!-- End Counts -->

<!-- ======= Skills  ======= -->
<div class="skills container">
    <%- include('./about/skills') %>
</div><!-- End Skills -->

<!-- ======= Interests ======= -->
<div class="interests container">
    <%- include('./about/interests') %>
</div><!-- End Interests -->

<!-- ======= Testimonials ======= -->
<div class="testimonials container">
    <%- include('./about/testimonials') %>
</div><!-- End Testimonials  -->